  <%- include('header', {css: "/css/style.css", css2: "/css/style.css"}) %>
    <div class="app">
      <div class="common">
        <!-- MAIN -->
        <div class="main">
          <div class = "in_progress"></div> <!-- add from home.js file-->
          <div class = "all_courses">
            <h3>All courses</h3>
            <% if (courses.length > 0) { %>
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <% for (let i = 0; i < courses.length; i++) { %>
                <div class="col">
                 <div class="card h-100">
                  <a href="<%= courses[i].course_path %>">
                  <img src= "images/course/<%= courses[i].course_picture_path %>" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%= courses[i].course_name %></h5>
                    <p class="card-text"><%= courses[i].course_detail %></p>
                  </div>
                  </a>
                  </div>
                </div>
                <% } %>
            </div>
            <% } %>
          </div>       
          </div>
        <!-- / MAIN -->
        
        <!-- SIDEBAR-RIGHT -->
        <div class="sidebar-right">

          <div id="cal-heatmap"></div>
          <script type="module" src="/js/calender.js"></script>
          <div class="pie" id="all_pie"><span>0%</span></div>

        </div>
        <!-- / SIDEBAR-RIGHT -->
        
        <!-- Firebase Javascript-->
        <script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
        <script type="module" src="/js/home.js"></script>
        <script type="module" src="/js/logout.js"></script>
        <script type="module" src="/js/header.js"></script>

    </div>
    </div>
  <%- include('footer') %>
 